@model IEnumerable<DefibrilatorProject.Models.Models.Maintenance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfMainenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoldProduct.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldProduct.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldProduct.Product.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ProductProperty.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfMainenance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.MaintenanceId}) |
            @Html.ActionLink("Details", "Details", new {id = item.MaintenanceId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.MaintenanceId})
        </td>
    </tr>
}

</table>
