@model DefibrilatorProject.Models.ViewModels.MaintenanceViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.DropDownListFor(x => x.CompanyId, Model.Companies)
@Html.DropDownListFor(x => x.ProductId, Model.Products)

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maintenances.FirstOrDefault().SoldProduct.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenances.FirstOrDefault().SoldProduct.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenances.FirstOrDefault().SoldProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenances.FirstOrDefault().ProductProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenances.FirstOrDefault().DateOfMainenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenances.FirstOrDefault().Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Maintenances)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoldProduct.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldProduct.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldProduct.Product.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductProperty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMainenance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { maintenanceId = item.MaintenanceId })
                @if (item.Notes != "ProductSold")
                {
                    @:| @Html.ActionLink("Delete", "Delete", new { maintenanceId = item.MaintenanceId })
                }
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maintenance")
}