@model DefibrilatorProject.Models.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserData</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfile.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfile.UserName)
            @Html.ValidationMessageFor(model => model.UserProfile.UserName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfile.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfile.FirstName)
            @Html.ValidationMessageFor(model => model.UserProfile.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfile.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfile.LastName)
            @Html.ValidationMessageFor(model => model.UserProfile.LastName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfile.Company)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.UserProfile.CompanyId, Model.Companies)
        </div>

        

        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
