@model IEnumerable<DefibrilatorProject.Models.Models.SoldProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopMaintenance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopMaintenance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { soldProductId=item.SoldProductId }) |
            @Html.ActionLink("Maintenance History", "Index", "Maintenance", new { @productId = @item.ProductId, @companyId = @item.CompanyId }, null) |
            @Html.ActionLink("Delete", "Delete", new { soldProductId = item.SoldProductId })
        </td>
    </tr>
}

</table>
