@model IEnumerable<DefibrilatorProject.Models.Models.Maintenance>
<h2>Items to Service</h2>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfMainenance)
        </th>
        <th>
            NextMaintenanceOn
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoldProduct.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldProduct.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldProduct.Product.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductProperty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMainenance)
            </td>
            <td>
                @if (item.ProductProperty.StopMaintenance == true)
                {
                    @:Never
                }
                else
                {
                    @item.DateOfMainenance.AddMonths(item.ProductProperty.ServiceRate).ToShortDateString();
                }
            </td>
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maintenance")
}